<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botão de Emergência</title>
    <script>
        function enviarNotificacao() {
            fetch('/api/notificar_usuarios', {  // Atualizado para usar o prefixo de URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Erro ao enviar notificações:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Botão de Emergência</h1>
    <button onclick="enviarNotificacao()">Enviar Notificação de Emergência</button>
</body>
</html>